table.bordered
  tbody
    tr
      th.col-3 名称
      td ホテルハーヴェスト伊東
    tr
      th 住所
      td 静岡県伊東市竹の内1-5-14
    tr
      th アクセス
      td
        ul
          li JR伊東線伊東駅下車徒歩約12分またはシャトルバス（有料）約5分
          li 小田急厚木道路小田原西ICから約70分
    tr
      th 電話番号
      td 0557-38-6373
    tr
      th 料金
      td 1泊2食付（税込）
        ul
          li 被保険者・被扶養者：5,400円
          li その他：10,800円
