table.bordered
  tbody
    tr
      th.col-3 名称
      td 角間温泉　岩屋館
    tr
      th 住所
      td 長野県上田市真田町長2868
    tr
      th アクセス
      td 北陸新幹線上田駅下車送迎バス（要予約）約30分
    tr
      th 電話番号
      td 0268-72-2323
    tr
      th 料金
      td 1泊2食付・5400円～