table.bordered
  tbody
    tr
      th.col-3 名称
      td ブルーベリーヒル勝浦
    tr
      th 住所
      td 千葉県勝浦市興津1920
    tr
      th アクセス
      td JR外房線勝浦駅または上総興津駅下車、送迎あり（要予約）
    tr
      th 電話番号
      td 0470-76-3400
    tr
      th 料金
      td 1泊2食付・5400円～