table.bordered
  tbody
    tr
      th.col-3 名称
      td ホテルハーヴェスト　スキージャム勝山
    tr
      th 住所
      td 福井県勝山市170-70
    tr
      th アクセス
      td えちぜん鉄道勝山駅下車シャトルバス約30分
    tr
      th 電話番号
      td 0779-87-0081
    tr
      th 料金
      td 1泊2食付・5400円～