table.bordered
  tbody
    tr
      th.col-3 名称
      td ホテル日航プリンセス京都
    tr
      th 住所
      td 京都府京都市下京区烏丸高辻東入高橋町630番地
    tr
      th アクセス
      td 地下鉄烏丸線四条駅5番出口より徒歩約3分
    tr
      th 電話番号
      td 075-342-2111
    tr
      th 料金
      td 1泊2食付・5400円～