table.bordered
  tbody
    tr
      th.col-3 名称
      td ホテルハーヴェスト 旧軽井沢
    tr
      th 住所
      td 長野県北佐久郡軽井沢町軽井沢1178-493
    tr
      th アクセス
      td 北陸新幹線軽井沢駅下車徒歩約11分
    tr
      th 電話番号
      td 0267-41-3005
    tr
      th 料金
      td 1泊2食付・5400円～