table.bordered
  tbody
    tr
      th.col-3 名称
      td ホテルハーヴェスト斑尾
    tr
      th 住所
      td 長野県上水内郡信濃町古海3575-8
    tr
      th アクセス
      td 北陸新幹線飯山駅下車路線バス約45分
    tr
      th 電話番号
      td 026-258-3611
    tr
      th 料金
      td 1泊2食付・5400円～