table.bordered
  tbody
    tr
      th.col-3 名称
      td ホテルハーヴェスト南紀田辺
    tr
      th 住所
      td 和歌山県田辺市新庄町2901-1
    tr
      th アクセス
      td JR紀勢本線紀伊田辺駅下車シャトルバス約15分
    tr
      th 電話番号
      td 0739-25-6106
    tr
      th 料金
      td 1泊2食付・5400円～