table.bordered
  tbody
    tr
      th.col-3 名称
      td ホテルハーヴェスト那須
    tr
      th 住所
      td 栃木県那須郡那須町大字高久丙1792
    tr
      th アクセス
      td 東北新幹線那須塩原駅下車シャトルバス約40分
    tr
      th 電話番号
      td 0287-76-2085
    tr
      th 料金
      td 1泊2食付・5400円～