table.bordered
  tbody
    tr
      th.col-3 名称
      td リゾートホテル蓼科
    tr
      th 住所
      td 長野県茅野市北山4035
    tr
      th アクセス
      td 中央本線茅野駅下車路線バス約32分、中央自動車道諏訪南ICより約30分（八ヶ岳エコーラインを北上し、ビーナスラインを左折）。
    tr
      th 電話番号
      td 0266-67-2626
    tr
      th 料金
      td 1泊2食付・5400円～