table.bordered
  tbody
    tr
      th.col-3 名称
      td トスラブ館山 ルアーナ
    tr
      th 住所
      td 千葉県館山市洲宮833-1
    tr
      th アクセス
      td JR内房線館山駅下車、または高速バス館山駅下車。
    tr
      th 営業時間
      td チェックイン15時・チェックアウト11時
    tr
      th 電話番号
      td 0470-29-7000
    tr
      th 料金
      td 1泊2食付・5400円～