table.bordered
  tbody
    tr
      th.col-3 名称
      td トスラブ湯沢
    tr
      th 住所
      td 新潟県南魚沼郡湯沢町土樽414
    tr
      th アクセス
      td 上越新幹線越後湯沢駅下車送迎バスあり
    tr
      th 営業時間
      td チェックイン15時・チェックアウト11時
    tr
      th 電話番号
      td 025-787-4511
    tr
      th 料金
      td 1泊2食付・5400円～