extends ../layout

block content
  #main

    include partials/hotel-title

    .row(style='margin-top: 30px;')
      .col
        figure
          a(href=hotel.url)
            img(src=hotel.image.url)
      .col
        include ../partials/iwaya
    .row(style='margin-top: 30px;')
      .col(style='text-align: center')
        a.button.primary.outline.big(href=hotel.url role='button' target='_blank') この施設を予約する
