.fixed.z2.top-0.left-0.right-0.p1(style='background: #eee; border-bottom: 1px solid #ddd;')
  .flex
    .flex-auto
      a(href='/')
        h1.h4.m0 ITS健保（関東ITソフトウェア健康保険組合）施設検索
    .table
      .nav-item.table-cell.align-middle.pr2(class={active: path === '/'})
        a.bold(href='/') ホテル空き状況カレンダー
      .nav-item.table-cell.align-middle.pr2(class={active: path === '/hotels'})
        a.bold(href='/hotels') ホテル一覧
      .table-cell.align-middle.pr2(style='min-width: 61px; padding-top: 2px;')
        a(href='https://twitter.com/share' class='twitter-share-button' data-show-count='false') Tweet
