.sticky#header
  .row(style='padding: 10px 20px;')
    .col
      #navbar-brand
        a(href='/')
          h5(style='padding-top: 2px; margin-bottom: 2px;') ITS健保（関東ITソフトウェア健康保険組合）施設検索
    .col.push-right
      nav#navbar-main
        ul(style="padding-top: 4px;")
          li
            a(href='/' class={muted: path !== '/'}) 空き状況カレンダー
          li
            a(href='' class={muted: path && path.indexOf('/hotels') !== 0} data-component='dropdown' data-target='#dropdown-hotels')
              | 施設を選ぶ
              span.caret.down
#dropdown-hotels.dropdown.hide
  ul
    li(class={bold: path === '/hotels'})
      a(href='/hotels') すべての施設
    if hotels.length > 0
      each hotel in hotels
        if hotel.url
          li(class={bold: path === hotel.path})
            a(href=hotel.path) #{hotel.name}
