extends layout

block content

  #main
    each hotel in data
      .row(style='margin-top: 50px;')
        .col
          h2
            a(href=hotel.path) #{hotel.name}
      .row(style='margin-top: 30px;')
        .col
          figure
            a(href=hotel.url)
              img(src=hotel.image.url)
        .col
          != hotel.html
