extends layout

block content
  #main.p3(style="min-height: 730px;")
    #filter.p2.bg-white.border(style="border-color: #ccc;")
      #filter-title
        h2.h4 ホテル名で絞り込む
      #filter-hotel-checkboxes

    #calendar
