extends layout

block content

  include header

  #main
    .row
      .col.col-3
        #filter
          #filter-title
            h4 ホテル名で絞り込む
          #filter-hotel-checkboxes

      .col.col-9
        #calendar

  script(src='/scripts/index.js')