extends layout

block content

  include header

  .row
    .col.col-3
      #filter(style="padding: 20px;")
        #filter-title
          h4 ホテル名で絞り込む
        #filter-hotel-checkboxes

    .col.col-9
      #calendar(style="padding: 20px;")
