extends layout

block content
  #top
    h2 ITS健保（関東ITソフトウェア健康保険組合）施設検索
  #filter
    #filter-title(style='padding: 10px 0;')
      h3(style='margin: 0;') ホテル選択
    #filter-hotel-checkboxes
  #calendar
