extends layout

block content
  include header

  #main.p3
    #filter.p2.bg-white.border(style="border-color: #ccc;")
      #filter-title
        h2.h4 ホテル名で絞り込む
      #filter-hotel-checkboxes

    #calendar
