doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='stylesheet', href='/styles/fullcalendar/fullcalendar.min.css')
    script(src='/scripts/lib/jquery/jquery-3.1.0.min.js')
    script(src='/scripts/lib/moment/moment.min.js')
    script(src='/scripts/lib/fullcalendar/fullcalendar.min.js')
    script(src='/scripts/lib/fullcalendar/lang/ja.js')
    script(src='/scripts/index.js')
  body
    block content
