doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://npmcdn.com/basscss@8.0.2/css/basscss.min.css')
    link(rel='stylesheet', href='https://npmcdn.com/basscss-colors@2.2.0/css/colors.css')
    link(rel='stylesheet', href='https://npmcdn.com/basscss-background-colors@2.1.0/css/background-colors.css')
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='stylesheet', href='/styles/fullcalendar/fullcalendar.min.css')
    script(src='/scripts/lib/jquery/jquery-3.1.0.min.js')
    script(src='/scripts/lib/moment/moment.min.js')
    script(src='/scripts/lib/fullcalendar/fullcalendar.min.js')
    script(src='/scripts/lib/fullcalendar/lang/ja.js')
    script(src='/scripts/index.js')
    script(async src='//platform.twitter.com/widgets.js' charset='utf-8')
    script(src='/scripts/ga.js')
  body
    include header

    block content

    include footer
