body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  color: #4c4c4c;
}

#filter {
  max-width: 900px;
  margin: 41px auto;
}

#calendar {
  max-width: 900px;
  margin: 40px auto;
}

#calendar .fc-content {
  white-space: normal;
}
