body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  color: #4c4c4c;
}

a {
  text-decoration: none;
  color: #4c4c4c;
}

a:hover {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

th, td {
  padding: .5em 0;
  line-height: inherit;
  border: 1px solid #ddd;
}

th {
  text-align: left;
  font-weight: 700;
}

#header {
  background: #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
}

footer {
  border-top: 1px solid #e5e5e5;
}

#main {
  max-width: 900px;
  margin: 41px auto;
}

label.disabled {
  color: #ccc;
}

.nav-item a {
  color: #999;
}

.nav-item.active a {
  color: #4c4c4c;
}

#table-hotel-info th {
  min-width: 66px;
}

#calendar {
  max-width: 900px;
  margin: 40px auto;
}

#calendar .fc-content {
  white-space: normal;
}

#foot {
  max-width: 900px;
  margin: 0 auto;
}
